.wrapping {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 55px;
}

.wrapClock {
    display: flex;
    justify-content: center;
    padding: 10%;
    gap: 5%;

}

.timer {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text {
    color: #aaa;
}

.value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* position: absolute; */
    /* width: 63px; */
    /* height: 19px; */
    /* left: 176px;
    top: 378px; */

    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    /* font-size: 24; */
    /* line-height: 18px; */
    /* identical to box height, or 77% */

    text-align: center;
    text-transform: uppercase;
}